<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mensch ärger dich nicht</title>
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script>
			var url = window.location.host;
			var socket = io.connect(url);
			console.log(socket);
			$( document ).ready(function() {
				//### INIT ###
				document.onmousemove = function(e){
					var x = e.pageX;
					var y = e.pageY;
					$("#mousepos").text("X is "+x+" and Y is "+y);
				};
				var posMap = {};
				var homeMap = {};
				var goalMap = {};
				var currentPlayer = "";
				var diceAmount = 3;

				for(var i=0;i<=40;i++){ //PosMap Schleife des Todes
					startX = 43;
					startY = 233;
					if(i>=5&&i<9){
						startY-=(i*50)-200;
						startX-=(i*50)-200;
					}else if(i==9){
						startY-=(i*50)-250;
						startX-=(i*50)-250;
					}else if(i>=10 && i<14){
						startY+=(i*50)-700;
						startX-=(i*50)-300;
					}else if(i==14){
						startX-=(i*50)-300;
					}else if(i>=15 && i<19){
						startX+=(i)-417;
					}else if(i==19){
						startX+=(i)-467;
						startY+=(i*50)-900;
					}else if(i>=20 && i<25){
						startX+=1500;
						startY=330;
					}else if(i>=25 && i<29){
						startX+=i*50+300;
						startY+=50*i-1100;
					}else if(i>=29 && i<31){ // 30 32
						startX+=1700;
						startY=530;
					}else if(i>=31 && i<34){
						startX+=i*50+200;
						startY-=-1800+i*50;
					}else if(i>=34 && i<39){
						startX+=1900;
						startY=330;
					}else if(i==39){
						startX=1993;
						startY-=-1995+i*50;
					}

					// Goal map füllen
					var goalX = 93;
					var goalY = 280;
					if(i>=4 && i<8){
						goalY = -120;
						goalX = 293;

					}else if(i>=8 && i<12){
						goalX = 843;
						goalY = 280;
						goalX += 50;
					}
					else if(i>=12 && i<16){
						goalY = 1080;
						goalX = 293;
					}

					if(i<4)
						goalMap[i] = {x:goalX+(50*i),y:goalY};
					else if(i>=4 && i<8)
						goalMap[i] = {x:goalX,y:goalY+(50*i)};
					else if(i>=8 && i<12)
						goalMap[i] = {x:goalX-(50*i),y:goalY};
					else
						goalMap[i] = {x:goalX,y:goalY-(50*i)};



					//$('#player'+j).append("<img src='spielfigur/"+j+"' class='player' id='player"+i+j+10+"'/>");
					if(i<20){
						posMap[i] = {x:startX+(50*i),y:startY};
						//$('#player'+i+j+10).css({"position":"absolute","left":startX+(50*i),"top":startY});
					}else{
						posMap[i] = {x:startX-(50*i),y:startY};
						//$('#player'+i+j+10).css({"position":"absolute","left":startX-(50*i),"top":startY});
					}
				}

				//### BUTTON FUNCTIONS ###
				$('#newGame').click(function(){
					console.log("EMIT start");
					socket.emit('start');
				});
				$('#btnDice').click(function(){
					console.log("EMIT dice");
					socket.emit('dice');
				});




				//### FUNCTIONS ###
				function addFigure(pId,fId,x,y){
					fId++;
					//console.log("FIGADD "+pId+" "+fId+" "+x+" "+y);
					$('#player'+pId).append("<img src='spielfigur/"+pId+"' class='player' id='"+fId+"'/>");
					$('#'+fId).css({"position":"absolute","left":x,"top":y});
				}
				function movePlayer(figure,x,y){
					console.log("Move Figure "+figure+" to X "+x+" Y "+y);
					var figure = "#"+figure;
					$(figure).css({"left":x,"top":y});
					lockPlayers();

				}
				function moveToField(figureID,fieldID){
					fieldID = parseInt(fieldID);
					console.log("FIELDID: "+fieldID);
					var x = posMap[fieldID].x;
					var y = posMap[fieldID].y;
					console.log("FIELDMOVE: FIELDID: "+fieldID+" Move Figure "+figureID+" to X "+x+" Y "+y);

					var figure = "#"+figureID;
					$(figure).css({"left":x,"top":y});
					lockPlayers();

				}

				function getOutPlayer(player,figure){
					//var startPosX = [43,345,245,545];
					//var startPosY = [230,30,530,330];
					console.log("GETOUT: playerId: "+player+" X "+posMap[player*10].x+" Y "+posMap[player*10].y);
					var figure = "#"+figure;
					$(figure).css({"left":posMap[player*10].x,"top":posMap[player*10].y});
					lockPlayers();
				}

				function moveToGoal(figure,goal){
					console.log("MOVETOGOAL: figure: "+figure+" Goal: "+goal);
					var figure = "#"+figure;
					$(figure).css({"left":goalMap[goal].x,"top":goalMap[goal].y});
					lockPlayers();

					//console.log(goalMap[goal]);
				}

				function unlockUI(id){
					//console.log("UNLOCK: UI "+id);
					$("#btnDice").attr("disabled", false);
				}
				function unlockPlayer(id){
					//console.log("UNLOCK: Player "+id);
					lockPlayers();
					$('#players').on("click","#player"+id+" img",function(){
						var dice = $("#lbDice").text();
						fid = $(this).find("#player"+id+" img").prevObject[0].id;

						//console.log("MOVEWISH EMIT");
						socket.emit('movewish',{figure:fid,player:id});
					});
				}
				function lockUI(){
					$("#btnDice").attr("disabled", true);
				}
				function lockPlayers(){
					for(var i = 0;i<4;i++){
						$('#players').off("click","#player"+i+" img");
						//console.log("LOCK: Player"+i);
					}
				}

				function test(){
					console.log("TEST");
					for(var i=0;i<40;i++){
						//addFigure(0,i+100,posMap[i].x,posMap[i].y);
						addFigure(0,i+100,goalMap[i].x,goalMap[i].y);

					}
				}

				function kickFigure(figureID){
					movePlayer(figureID,homeMap[figureID].x,homeMap[figureID].y);
				}
				function getPlayerText(id){
					console.log("GetPlayerText: "+id);
					switch(id){
						case 0: return "<span style='color:orange;'>Gelb</span>";
						break;
						case 1: return "<span style='color:green'>Grün</span>";
						break;
						case 2: return "<span style='color:red'>Rot</span>";
						break;
						case 3: return "<span style='color:black'>Schwarz</span>";
						break;
					}
				}
				function getPlayerID(figID){
					switch(parseInt(figID)){
						case 1:
						case 2:
						case 3:
						case 4:
							return 0;
							break;
						case 5:
						case 6:
						case 7:
						case 8:
							return 1;
							break;
						case 9:
						case 10:
						case 11:
						case 12:
							return 2;
							break;
						case 13:
						case 14:
						case 15:
						case 16:
							return 3;
							break;
					}
				}

				//### SOCKETS ###
				//Update player count
				socket.on('players', function (msg) {
					console.log("players: "+msg.data);
					$("#infobox").append("<b>Spieler "+getPlayerText(msg.data-1)+" hat sich verbunden. </b><br>");

					var c = msg.data;
					var count = 0;



					$('#playcount').text(c);
					$('#players').empty();
					for(var j=0;j<c;j++){
						var startX = 43+(j*450);
						var startY = 27;
						if(j==2){ // Rot
							var startX = 43+(j*225);
							var startY = 27+(j*225);
						}
						if(j==3){ //Schwarz
							var startX = 43;
							var startY = 27+(j*150);
						}
						$('#players').append("<div id='player"+j+"'/>");
						//test();

						for(var i=0;i<4;i++){ //Figurschleife

							if(i==2){
								startY+=55;
								startX-=100;
							}
							addFigure(j,count,startX+(50*i),startY);
							homeMap[count+1]= {'x':startX+(50*i),'y':startY};
							count++;
						}

					}
					//test();
					//moveToGoal(1,2);
					//moveToField(3,3);
					//getOutPlayer(1,5);
					//movePlayer(5,homeMap[1].x,homeMap[1].y);
					$("#playercount").text("Derzeit "+msg.data+" Spieler verbunden!");
			  });
				socket.on('diced',function (msg){
					console.log("dice result: "+msg.data);
					$("#infobox").append("<b>Spieler "+getPlayerText(msg.player)+" hat eine "+msg.data+" gewürfelt.</b><br>");
					$('#infobox').animate({scrollTop: $('#infobox').prop("scrollHeight")}, 500);
					$("#lbDice").text(msg.data);
					if(diceAmount>0){
						diceAmount--;
					}
					if(msg.data == 6){
						diceAmount = 1;
					}
					if(diceAmount<1){
						lockUI();
					}
					console.log("diceAmount: "+diceAmount);

				});
				socket.on('left',function (msg){
					console.log("LEFT");
					for(var i=0;i<4;i++)
						$('#players').remove();
				});
				socket.on('tokenadd',function (msg){
					console.log("TOKEN: Meine Runde! Ich bin Spieler "+msg.data);
					currentPlayer = msg.data;
					var currentPlayerText = getPlayerText(msg.data);
					$("#currentPlayer").html("Ich bin an der Reihe! (Spieler "+currentPlayerText+" )").css('color','blue');
					unlockUI(msg.data);
					lockPlayers();
					diceAmount = msg.dices;
					console.log("DiceAmount: "+diceAmount);
				});
				socket.on('tokenremove',function (msg){
					console.log("TOKEN: Runde vorbei! Ich bin Spieler "+msg.data);
					$("#currentPlayer").text("");
					lockUI();
					lockPlayers();
				});

				socket.on('movefield',function (msg){
					console.log("MOVEFIELD: Server: "+msg.data+" Figure: "+msg.figure+" Cur.Pos: "+msg.position);
					if(msg.data==true){
						var dice = parseInt($("#lbDice").text());
						var pos = parseInt(msg.position);
						console.log("MOVEFIELD TEST: "+dice+" "+msg.position);
						moveToField(msg.figure,(pos+dice)%40);
					}else{
						console.log("movefield false");
						//alert("Ungültiger Spielzug");
						$("#invalidmove").fadeIn(1000).delay(500).fadeOut(1000);
					}
				});
				socket.on('getout',function (msg){
					console.log("GETOUT: Player: "+msg.player+" Figure: "+msg.figure);
					if(msg.data==true){
						getOutPlayer(msg.player,msg.figure);
						$("#infobox").append("<b>Spieler "+getPlayerText(msg.player)+" hat eine Figur rausgeholt</b><br>");

						//moveToField(msg.figure,msg.player*10);
					}else{
						console.log("getout false: "+msg.data);
						//alert("Ungültiger Spielzug");
						$("#invalidmove").fadeIn(1000).delay(500).fadeOut(1000);
					}
				});
				socket.on('movegoal',function (msg){
					console.log("MOVEGOAL: Player: "+msg.player+" Figure: "+msg.figure);
					if(msg.data==true){
						moveToGoal(msg.figure,msg.position);
						//moveToField(msg.figure,msg.player*10);
					}else{
						console.log("movegoal false");
						//alert("Ungültiger Spielzug");
						$("#invalidmove").fadeIn(1000).delay(500).fadeOut(1000);
					}
				});
				socket.on('kickfigure',function (msg){
					console.log("KICKFIGURE: Figure: "+msg.data);
					kickFigure(msg.data);
					$("#infobox").append("<b>Spieler "+getPlayerText(msg.player)+" hat eine Figur von Spieler "+getPlayerText(getPlayerID(msg.data))+" gekickt</b><br>");
				});
				socket.on('gamestart',function (msg){
					$("#newGame").remove();
					$("#infobox").append("<hr>SPIELBEGIN<br><hr>");
				});
				socket.on('gamewon',function(msg){
					console.log("GAME WON: "+msg.data)
					$("#winscreen").html("Spieler "+getPlayerText(msg.data)+" hat gewonnen!").fadeIn(2000);
					$("#infobox").append("Spieler "+getPlayerText(msg.data)+" hat gewonnen!<br>").fadeIn(2000);

				});
				socket.on('unlockPlayer',function(msg){
					console.log("UNLOCKPLAYER: "+msg.data)
					unlockPlayer(msg.data);
				});
				socket.on('nextRound',function(msg){
					var currentPlayerText = getPlayerText(msg.data);
					$("#currentPlayer").html("Spieler "+currentPlayerText+" ist an der Reihe.").css('color','gray');
					$("#infobox").append("<hr>");
				});
			});
		</script>
		<style>
			.player{width:30px;height:auto;}
			.msg{display:none;position:absolute;top:250px;left:140px;font-weight:bold;font-size:35px;padding:60px 25px;}
			#currentPlayer{position:absolute;color:blue;font-weight:bold; animation: blinker 2s linear infinite;}
			#invalidmove{color:white;background-color:red;}
			#winscreen{color:white;background-color:black;border:3px black solid;width:520px;left:20px;}
			#infobox{position:absolute;top:25px;left:620px;height:590px;width:290px;overflow-y:scroll;background-color:rgba(1,1,1,0.35);color:white;padding:5px;}
			@keyframes blinker {
			  50% { opacity: 0.0;}
			}
		</style>
	</head>
	<body>
		<span id="currentPlayer"></span>	<br>
		<div id='players'>
		</div>
		<img src='gamefield/' />
		<div id="infobox"></div>
		<br>
		<input type="button" id="newGame" value="Spiel starten" />

		<br>
		<input type="button" id="btnDice" value="Würfeln" disabled/> <label for="btnDice" id="lbDice">0</label>
		<br>
		<a href="rules/" target="_blank" />Regeln</a>
		<div id="playercount">Derzeit 0 Spieler verbunden</div>
		<div id="invalidmove" class="msg">Ungültiger Spielzug!</div>
		<div id="winscreen" class="msg">Spieler Schwarz hat gewonnen!</div>
	</body>
</html>
